


.EM-navbar {
  padding: 0%; /* Padding around the navbar */
  display: flex;
  justify-content: space-between; /* Distribute items along the main axis */
  align-items:center; /* Center items vertically */
  font-size: 15px;
  background-color: #444;
  margin: 0%;
 

}

.EM-nav-left {
  order: 1; /* Adjust the order of the left section */
}

.EM-nav-right {
  order: 2; /* Adjust the order of the right section */
}

.EM-nav-list {
  list-style: none;
  padding: 0;
  margin-left: 10%;
  display: flex; /* Display items in a row */
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  
 
}

.EM-nav-item {
  margin-right: 20px; /* Spacing between items */
}

.EM-nav-item:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

.EM-nav-item a {
  text-decoration: none;
  color:white; /* Link color */
}
#Pro-Pent-Estate{
  background-color: white;
}
#EM-img{
  margin-top: 15% 0% 30% 10%;
  width:80%;
  
}





.EM-teksti{
justify-content: left;
margin-top:-35%;

margin-left:65%; 
font-family: Arial, Helvetica, sans-serif;
}


.EM-footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: 34%;
}
.EM-footer-left{
  margin:0%;
}
*{
  font-family: Arial, Helvetica, sans-serif;
}