body {
  font-family: Arial, sans-serif;
  background-image: url('C:\Users\Admin\Documents\GitHub\Projekti-ne-Iwt\fotot e penthouse\background-per-contact.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}




.EM-navbar {
    padding: 20px; /* Reducing the padding */
    font-size: 20px; /* Adjusting font size */
    background-color: #333; /* Changing background color */
    display: flex;
    justify-content: space-between; /* Distribute items along the main axis */
    align-items: center; /* Center items vertically */
    margin-top:0px;
  }
  
  .EM-nav-list {
    display: flex; /* Display items in a row */
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .EM-nav-item {
    margin-right: 15px; /* Adjusting spacing between items */
  }
  
  .EM-header {
    margin-top:0;
    background-color: #555; /* Darkening the header background color */
    color: white; /* Changing text color */
  }


 .EM-footer {
    position: fixed;
    bottom: -15%; /* Vendos footer-in në drejtim të fundit */
    width: 100%; /* Bën footer-in të ketë gjërësi të plotë */
    background-color: #333;
    color: #fff;
    padding: 20px;
    /* Stilizimet e tjera për footer-in */
}

/* Nëse keni një klasë të veçantë për pjesën e majtë të footer-it */
.EM-footer-left {
    margin: 0; /* Ndryshojeni në stilizimin e nevojshëm */
}

  *{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  






