
body {
    background-image: url("/Projekti-ne-Iwt/fotot e penthouse/background-per-contact.jpg");
    /* Stilizime shtesë për sfond */
    background-size: cover;
    background-repeat: no-repeat;
    /* Stile të tjera për body */
    /* ... */
}





