.EM-navbar {
    padding: 50px; /* Padding around the navbar */
    display: flex;
    justify-content: space-between; /* Distribute items along the main axis */
    align-items:center; /* Center items vertically */
    font-size: 30px;
  
  }
  
  .EM-nav-left {
    order: 1; /* Adjust the order of the left section */
  }
  
  .EM-nav-right {
    order: 2; /* Adjust the order of the right section */
  }
  
  .EM-nav-list {
    list-style: none;
    padding: 0;
    margin-left: 65%;
    display: flex; /* Display items in a row */
    font-size: 150%;
   
  }
  
  .EM-nav-item {
    margin-right: 20px; /* Spacing between items */
  }
  
  .EM-nav-item:last-child {
    margin-right: 0; /* Remove margin from the last item */
  }
  
  .EM-nav-item a {
    text-decoration: none;
    color:white; /* Link color */
  }
  .EM-header{
    background-color:gray;
  }#Pro-Penthouse-Estate{
    background-color: gray;
}
.EM-footer {
    background-color: #333;
    color: #fff;
   padding: 20px;
   padding-left: 0px;
   padding-right:0% ;
    margin: 100% 0% 0% 0%;
    
  }
  .EM-footer-left{
    margin:0%;
  }
  
